include /config/all/base.pug
include /mixins/all/icon_svg.pug

doctype html
html(lang=page.lang, xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
   include /render/all/head.pug
   body
      include /render/all/header.pug
      section.main
         block content

      include /render/all/footer.pug

      include /partials/all/footer_scripts.pug
      
      block templates
