.filter-option
   margin-bottom: 10px
   
   &__header
      background: $color_brand_blue
      padding: 7px 10px
      color: white
      cursor: pointer
      display: flex
      justify-content: space-between
      flex-direction: row
      align-items: center
   
   &__icon-toggle
      width: 20px
      svg path
         fill: white
   
   &__content
      padding: 10px
      color: $color_brand_blue
      display: flex
      flex-direction: column
      transition: .3s linear
      max-height: 5000px
      width: 100% !important
      height: auto
      overflow: hidden
      &--hide
         padding: 0 10px
         max-height: 0
      &--is-date
         overflow: initial
         
   &__item,
   &__toggle-item
      display: inline-block
      margin: 5px 0
      text-decoration: none
      color: $color_brand_blue
      align-self: flex-start
      &:hover
         text-decoration: underline
      &--hide
         display: none
   
   &__toggle-item
      text-decoration: underline
