.filter-date
   display: flex
   justify-content: space-between
   
   &__clear
      display: block
      position: absolute
      font-weight: bold
      color: $color_818
      right: 0
      top: 0
      cursor: pointer
      height: 100%
      padding: 0 7px
      line-height: 32px
         
   &__from,
   &__to
      width: 48%
   
   &__text
      font-size: 12px
      color: $color_818
   
   &__message
      color: $color_818
      font-size: 12px
      margin-top: 10px
   
   &__input
      width: 100%
      border: 1px solid $color_ccc
      border-radius: 5px
      padding: 7px 10px 5px 10px
      color: $color_333
         
      
   &__box
      width: 100%
      min-width: 100px
      position: relative

      .container_date
         position: absolute
         left: 0
         top: calc(100% + 2px)
         z-index: 3000

         width: 100%
         min-width: 200px
         background: #eceff1
         box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.12)
         display: none

         &.show_date
            display: block

         @include breakpoint(0 480px)
            position: fixed
            height: 100%
            background: rgba(51,51,51,0.8)
            top: 0
            left: 0
            
            &.show_date
               display: flex
               align-items: center
               justify-content: center
               .picker
                  max-width: 240px
