.options-mobile
   display: flex
   justify-content: flex-end
   margin-bottom: 10px
   
   @include breakpoint(1000px)
      display: none
   
   &__item
      margin-left: 20px
   &__select
      position: absolute
      width: 100%
      height: 100%
      opacity: 0
      font-size: 14px
   &__icon
      position: relative
      width: 35px
      cursor: pointer
      svg path
         fill: $color_aaa
      &--active
         svg path
            fill: $color_brand_orange
