.results
   width: calc(100% - 320px)
   
.results-content
   display: flex
   flex-direction: row
   justify-content: space-between
   flex-wrap: wrap
   align-items: stretch
   &__loading
      width: 100%
      text-align: center
      height: 70px
      max-height: 70px
      transition: .2s linear
      overflow: hidden
      &--hide
         max-height: 0
         
   &__loading-image
      height: 50px;
   
.results-header
   width: 100%
   display: none
   flex-direction: row
   justify-content: space-between
   align-items: center
   color: $color_333
   font-size: 14px
   padding-bottom: 10px
   @include breakpoint(1000px)
      display: flex
   
   &__show-page--hide
      visibility: hidden
      
   &__order
      display: flex
      align-items: center
   &__order-text
      margin-right: 10px
   &__order-options
      border: 1px solid #ddd
      background: white
      padding: 7px
      border-radius: 5px
      cursor: pointer
      outline: 0

.result
   width: 100%
   margin-bottom: 20px
   background: $color_eee
   
   @include breakpoint(600px)
      width: 49%
   &__link
      position: absolute
      left: 0
      top: 0
      z-index: 20
      width: 100%
      height: 100%
      cursor: pointer
   &__header
      position: relative
      padding-top: 75%
   &__content-photo
      position: absolute
      top: 0
      left: 0
      z-index: 10
      
      display: flex
      justify-content: center
      align-items: center
      background: $color_brand_blue
      width: 100%
      height: 100%
      margin: 0
      font-size: 0
   &__photo
      width: 100%
      height: 100%
      &[src*='data:image']
         width: auto
         height: auto
      
   &__text
      position: absolute
      bottom: 0
      left: 0
      z-index: 20
      
      width: 100%
      background: rgba(38, 50, 56, 0.8)
      padding: 10px
      color: white
      display: flex
      justify-content: space-between
      align-items: center
   &__title
      max-width: 70%
   &__price
      font-weight: bold
      font-size: 26px
      color: white
      min-width: 90px
      text-align: right
      display: flex
      justify-content: flex-end
   &__price-simbol
      font-size: 14px
      margin-top: 4px
      margin-right: 5px
   
   &__content
      padding: 10px
   &__description
      display: flex
      margin: 3px 0
      font-size: 14px
      
   &__description-type
      min-width: 85px
      position: relative
      color: $color_818
      &:after
         content: ":"
         position: absolute
         top: 0px
         right: 2px
   &__description-value
      color: $color_333
      margin-left: 5px

.results-pagination
   padding-bottom: 20px
   
   &__list
      display: flex
      justify-content: flex-end
      
   &__item
      font-weight: bold
      padding: 5px 10px
      line-height: 20px
      color: $color_brand_blue
      border: 1px solid $color_brand_blue
      border-radius: 5px
      margin-left: 5px
      transition: .2s linear
      cursor: pointer
      &:hover,
      &--active
         background: $color_brand_orange
         color: white
         border: 1px solid $color_brand_orange
         .results-pagination__item-icon svg path
               fill: white
      &--is-arrow
         padding: 5px 5px;
         
   &__item-icon
      width: 20px
      height: 20px
      svg path
         fill: $color_brand_blue
         
