.your-filters
   background: $color_f5f
   padding: 10px
   margin-bottom: 10px
   &--hide
      display: none
   
   &__header
      width: 100%
      display: flex
      flex-direction: row
      justify-content: space-between
   &__title
      font-size: 14px
      color: $color_333
      font-weight: bold
   &__clean-all
      color: $color_333
      font-size: 12px
   
   &__content
      margin: 10px 0
   &__item
      position: relative

      background: $color_brand_blue
      margin: 5px 5px 5px 0
      color: white
      padding: 5px 35px 5px 10px
      border-radius: 5px
      display: inline-block
   &__remove
      position: absolute
      right: 0
      top: 0
      
      display: flex
      align-items: center
      background: $color_brand_orange
      height: 100%
      padding: 0px 8px
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px
      font-weight: bold
      line-height: 100%
      cursor: pointer
