script(type="text/javascript").
    var yOSON = {
        "module"    : "!{page.module}",
        "controller": "!{page.controller}",
        "action"    : "!{page.action}",
        "baseHost"  : "!{path.base}",
        "version"  	: "!{page.version}",
        "token"     : "!{page.token}",
        "AppCore"   : {},
        "AppSandbox": {},
        "AppSchema" : {
            "modules" : {},
            "requires": {}
        },
        "tmp" : '!{page.dataTemp}'
    }
