- var page        = {}

- page.lang       = 'es'
- page.favicon    = 'static/images/all/favicon.ico'
- page.title      = 'Paquetes y Tours a Tarapoto - Turismoi.pe'

- page.module     = 'search'
- page.controller = 'search'
- page.action     = 'search'

- page.version    = '?798546123'


- var path  = {}
- path.base = '../../'
- path.css  = '../../css/'
- path.js   = '../../js/modules/'
