script(type="text/template" id="tplResult")
   |   {{
   |       _.each(results, function(result){
   |   }}
   .result
      .result__header
         a.result__link(href!="{{=result.url}}")
         figure.result__content-photo
            img.result__photo.js-lazy(
               src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
               data-original="{{=result.photos[0].url_home}}"
            )
         .result__text
            .result__title {{=result.name}}
            .result__price
               .result__price-simbol S/.
               | {{=result.price}}
      .result__content
         |   {{   var activities = [];
         |       _.each(result.activities, function(activity){
         |           activities.push(activity.name)
         |       });
         |        if(activities.length > 0){
         |   }}
         .result__description
            p.result__description-type Actividades
            p.result__description-value {{=activities.join(', ')}}
         |   {{
         |        }
         |   }}
         .result__description
            p.result__description-type Duración
            p.result__description-value {{=result.days_and_nights}}
         |   {{   var regions = [];
         |       _.each(result.regions, function(region){
         |           regions.push(region.name)
         |       });
         |        if(regions.length > 0){
         |   }}
         .result__description
            p.result__description-type Región
            p.result__description-value {{=regions.join(', ')}}
         |   {{
         |        }
         |   }}
         .result__description
            p.result__description-type Ciudades
            p.result__description-value {{=result.city_names}}
   |   {{ 
   |       }); 
   |   }}

script(type="text/template" id="tplFilterOption")
   |   {{
   |       _.each(filters, function(filter, index){
   |           var classFilter = 'filter-option__item js-filter-option-' + type + (index > 9 ? ' filter-option__item--hide' : '');
   |   }}
   a(
      class!="{{=classFilter}}"
      href="javascript:;"
      data-id!="{{=filter.id}}"
      data-name!="{{=filter.name}}"
      ) {{=filter.name}}
   |   {{ 
   |       });
   |       if(filters.length > 10){
   |   }}
   a(
      class!="filter-option__toggle-item js-show-more-options"
      href="javascript:;"
      data-text="show-more"
      ) Ver más
   |   {{ 
   |       }
   |   }}
   
script(type="text/template" id="tplYourFilters")
   .your-filters__item(data-type="{{=type}}") {{=name}}
      .your-filters__remove.js-remove-filter
         .your-filters__remove-icon x

script(type="text/template" id="tplPagination")
   |   {{
   |       if(showArrowsLeft){
   |   }}
   li.results-pagination__item.results-pagination__item--is-arrow.js-page(data-page="1")
      i.results-pagination__item-icon
         +icon_svg("arrows_left")
   li.results-pagination__item.results-pagination__item--is-arrow.js-page(data-page!="{{=currentPage-1}}")
      i.results-pagination__item-icon
         +icon_svg("arrow_left")
   |   {{ 
   |        }
   
   |       for (var page = fromPage; page < (fromPage + pages); page++){
   |           var classActive = (page == currentPage)?'results-pagination__item--active':'';
   |   }}
   li.results-pagination__item.js-page(
      class!="{{=classActive}}"
      data-page!="{{=page}}"
      ) {{=page}}
   |   {{ 
   |       };
   
   |       if(showArrowsRight){
   |   }}
   li.results-pagination__item.results-pagination__item--is-arrow.js-page(data-page!="{{=currentPage+1}}")
      i.results-pagination__item-icon
         +icon_svg("arrow_right")
   li.results-pagination__item.results-pagination__item--is-arrow.js-page(data-page!="{{=lastPage}}")
      i.results-pagination__item-icon
         +icon_svg("arrows_right")
   |   {{ 
   |       }
   |   }}
