@import 'layouts/layout.sass'
@import 'libs/plugins/calendar_datepicker.scss'

@import 'render/all/header.sass'
@import 'render/search/title-search.sass'
@import 'render/search/options-mobile.sass'

@import 'render/search/filter-date.sass'
@import 'render/search/filters.sass'
@import 'render/search/your-filters.sass'
@import 'render/search/filter-option.sass'

@import 'render/search/results.sass'

.content-search
   display: flex
   flex-direction: row
   justify-content: space-between
   width: calc(100% + 320px)
   margin-left: -320px
   transition: .2s ease-out
   
   &--show-filters
      margin-left: 0
      
   @include breakpoint(1000px)
      margin-left: 0
      width: 100%
