// FUENTES
// @include font-face("roboto", "../../../static/fonts/roboto/roboto", normal, normal,eot woff2 woff ttf svg);
// @include font-face("work-sans", "../../../static/fonts/work_sans/work_sans", normal, normal,eot woff2 woff ttf svg);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "helvetica";
}

.ds-none{
	display: none;
}
/*FLEX BOX*/
.ds-flex{
	display: flex;
	align-items: center;
	&.column{
		flex-direction: column;
	}
	&.row{
		flex-direction: row;
	}
	&.end{
		justify-content: flex-end;
	}
	&.center{
		justify-content: center;
	}
	&.between{
		justify-content: space-between;
	}
	&.around{
		justify-content: space-around;
	}
	&.stretch{
		align-self: stretch;
	}
	&.align-end{
		align-items: flex-end;
	}
	&.align-start{
		align-items: flex-start;
	}
	&.align-baseline{
		align-items: baseline;
	}
}

li {
	list-style: none;
}

i{
	font-size: 0;
	display: block;
}

ul.parsley-errors-list{
	font-size: 12px;

	li{
		color: red;
		padding-top: 5px;
	}
}

input, button{
    border: none;
    outline: none
}
