extends /layouts/layout.pug
include /mixins/all/icon_svg.pug

block content
   include /render/search/title-search.pug
   include /render/search/options-mobile.pug
   section.content-search
      include /render/search/filters.pug
      include /render/search/results.pug

block templates
   include /partials/search/template.pug
