section.filters
   .your-filters.your-filters--hide.js-your-filters
      .your-filters__header
         label.your-filters__title Tus Filtros
         a.your-filters__clean-all(href="#") Borrar Todo
      .your-filters__content.js-your-filters-content
   
   .filter-option
      .filter-option__header.js-filter-header
         .filter-option__title Días de Viaje
         i.filter-option__icon-toggle
            +icon_svg("arrow_up")
      .filter-option__content.filter-option__content--is-date
         .filter-date
            .filter-date__from.js-date-from
               label.filter-date__text(for="from") Desde:
               .filter-date__box
                  input.filter-date__input(
                    type="text"
                    name="from"
                    id="from"
                    placeholder="dd/mm/aaaa"
                    value=""
                  )
                  .filter-date__clear x
                  .container_date
            .filter-date__to.js-date-to
               label.filter-date__text(for="to") Hasta:
               .filter-date__box
                  input.filter-date__input(
                     type="text"
                     name="to"
                     id="to"
                     placeholder="dd/mm/aaaa"
                     value=""
                  )
                  .filter-date__clear x
                  .container_date
         label.filter-date__message Debe seleccionar ambas fechas para que se realice la búsqueda.
                   
   .filter-option
      .filter-option__header.js-filter-header
         .filter-option__title Actividades
         i.filter-option__icon-toggle
            +icon_svg("arrow_up")
      .filter-option__content.js-filter-activity
         
   .filter-option
      .filter-option__header.js-filter-header
         .filter-option__title Regiones
         i.filter-option__icon-toggle
            +icon_svg("arrow_up")
      .filter-option__content.js-filter-region
