.options-mobile
   .options-mobile__item
      i.options-mobile__icon.js-icon-show-filters
         +icon_svg("filter")
   .options-mobile__item
      i.options-mobile__icon
         select.options-mobile__select.js-filter-order(name="order_by")
            option(value="") Más Requeridos
            option(value="ultimos-paquetes") Últimos Paquetes
            option(value="menor-precio") Menor Precio
            option(value="mayor-precio") Mayor Precio
            option(value="menos-dias") Menos Días
            option(value="mas-dias") Más Días
         +icon_svg("filter_down")
   .options-mobile__item
      i.options-mobile__icon
         +icon_svg("nav_menu")
