section.results
   .results-header
      .results-header__show-page.results-header__show-page--hide.js-result-show-page
         | Mostrando 
         strong.js-current-count-package
         |  de 
         strong.js-total-package
      .results-header__order
         p.results-header__order-text Ordernar por
         select.results-header__order-options.js-filter-order(name="order_by")
            option(value="") Más Requeridos
            option(value="ultimos-paquetes") Últimos Paquetes
            option(value="menor-precio") Menor Precio
            option(value="mayor-precio") Mayor Precio
            option(value="menos-dias") Menos Días
            option(value="mas-dias") Más Días
   .results-content.js-content-results
      .results-content__loading.js-results-loading
         img.results-content__loading-image(src="../../static/images/all/loading.gif")
   .results-pagination
      ul.results-pagination__list.js-pagination
