meta(charset='utf-8')
title !{page.title}
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

link(href!=path.css + page.action + ".css" + page.version , media="all", rel="stylesheet", type="text/css")

include /partials/all/head_scripts.pug
