@import 'general'

.main
   padding: 0 10px
   width: 100%
   overflow: hidden
   
   @include breakpoint(768px)
      padding: 0 15px
   
   @include breakpoint(1230px)
      max-width: 1200px
      padding: 0
      margin: 0 auto
